@layer site {
	.content > * {
		margin-inline: auto !important;
		width: fit-content;
	}
	blockquote {
		max-width: 46rem;
	}
	
	.instructions {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: space-around;
		justify-content: space-around;
		width: 100%;
	}
	.instructions p {
		margin-bottom: 0;
	}
	
	body:not(.pod) .video-card.podcast {
		display: none;
	}
	body:not(.new) .video-card.post-callout {
		display: none;
	}
	body:not(.old) .video-card.pre-callout {
		display: none;
	}
	body.done .video-card:not(.finished) {
		display: none;
	}
	
	.video-list {
		min-height: 60vh;
	}
	.video-list > .video-list {
		margin-inline: 2em 1em;
		min-height: unset;
	}
	.video-list > .video-list > .video-card {
		background-color: #001c4a;
	}
	
	.total-score {
		border-radius: 6px;
		display: flex;
		height: 6px; width: 70%;
		background-color: var(--color-border-default);
		overflow: hidden;
	}
	.total-score .plagiarized {
		grid-area: plag;
		text-align: center;
		background-color: var(--video-box-stolen-bg);
		color: var(--video-box-stolen-text);
	}
	.total-score .misinfo {
		grid-area: fake;
		text-align: center;
		background-color: var(--video-box-fabricated-bg);
		color: var(--video-box-fabricated-text);
	}
	.total-score .yikes {
		grid-area: yikes;
		text-align: center;
		background-color: var(--video-box-yikes-bg);
		color: var(--video-box-yikes-text);
	}
	.total-score > span {
		border-inline-end: 1px solid var(--color-canvas-default);
	}
}