@layer site {
	
	@media (prefers-color-scheme: dark) {
		:root {
			color-scheme: dark;
			--video-box-bg-color-def: #0a1a31;
			--video-box-bg-color-new: #0a2d0c;
			--video-box-bg-color-umm: #2d0a0a;
			--video-box-bg-color-pod: #3b270a;
			
			--video-box-stolen-text: #f0eaf2;
			--video-box-stolen-bg: #8705ae;
			--video-box-fabricated-text: #ffdcd7;
			--video-box-fabricated-bg: #850810;
			--video-box-yikes-text: #feffd7;
			--video-box-yikes-bg: #4f6706;
			
			--video-box-topic-color: #ffa657;
		}
	}
	@media (prefers-color-scheme: light) {
		:root {
			color-scheme: light;
			--video-box-bg-color-def: #dae5f9;
			--video-box-bg-color-new: #ddfddf;
			--video-box-bg-color-umm: #fddddd;
			--video-box-bg-color-pod: #ffd699;
			
			--video-box-stolen-text: #3e104d;
			--video-box-stolen-bg: #ca7ee3;
			--video-box-fabricated-text: #281116;
			--video-box-fabricated-bg: #ee857b;
			--video-box-yikes-text: #1b2207;
			--video-box-yikes-bg: #afd050;
			
			--video-box-topic-color: #ce0000;
		}
	}
	:root {
		--thumb-width: 160px;
		--thumb-height: 90px;
	}
	@media (max-width: 950px) {
		:root {
			--thumb-width: 120px;
			--thumb-height: 67px;
		}
	}
	@media (max-width: 700px) {
		:root {
			--thumb-width: 100px;
			--thumb-height: 56px;
		}
	}
	
	.video-card {
		max-width: 1000px;
		background-color: var(--video-box-bg-color-def);
		margin: 6px;
		padding: 2px 8px;
		display: grid;
		box-shadow: 3px 3px 4px 0px black;
		grid-template:
			"date  title title links  thumb" auto
			"score aka   topic topic  thumb" auto
			"stat  aka   topic topic  thumb" 1fr
			/ 6rem 1fr   auto  auto   var(--thumb-width);
		text-shadow: 0px 0px 0px black;
	}
	.video-card.podcast {
		background-color: var(--video-box-bg-color-pod);
	}
	.video-card.unscripted {
		background-color: var(--video-box-bg-color-umm);
	}
	.video-card.post-callout {
		background-color: var(--video-box-bg-color-new);
	}
	
	.video-card.podcast {
		background-color: var(--video-box-bg-color-pod);
	}
	.video-card.post-callout {
		background-color: var(--video-box-bg-color-new);
	}
	
	.video-card > div {
		padding: 2px 6px;
	}
	.video-card > .title {
		grid-area: title;
	}
	.video-card > .vidlinks {
		grid-area: links;
	}
	.video-card > .date {
		grid-area: date;
		font-family: monospace;
		font-size: small;
		align-self: center;
	}
	.video-card > .status {
		grid-area: stat;
		text-align: center;
		align-self: self-end;
	}
	.status.alert { 
		color: var(--color-danger-fg); 
	}
	.status.ready { 
		color: var(--color-prettylights-syntax-markup-list); 
		font-weight: 600;
	}
	.status.complete { 
		color: var(--color-prettylights-syntax-entity-tag); 
		font-weight: 600;
	}
	.video-card > .aka {
		grid-area: aka;
		color: grey;
		font-size: smaller;
	}
	.video-card > .score {
		grid-area: score;
		display: grid;
		grid: auto / 1fr 1fr 1fr;
		grid-template-areas:
			"plag fake yikes";
		padding: 0;
		position: relative;
		
		--bar-height: 4px;
		margin-top: calc(var(--bar-height));
	}
	.video-card > .score .plagiarized {
		grid-area: plag;
		text-align: center;
		background-color: var(--video-box-stolen-bg);
		color: var(--video-box-stolen-text);
	}
	.video-card > .score .misinfo {
		grid-area: fake;
		text-align: center;
		background-color: var(--video-box-fabricated-bg);
		color: var(--video-box-fabricated-text);
	}
	.video-card > .score .yikes {
		grid-area: yikes;
		text-align: center;
		background-color: var(--video-box-yikes-bg);
		color: var(--video-box-yikes-text);
	}
	.video-card > .score > .bar {
		position: absolute;
		top: calc(-1 * (var(--bar-height) + 4px));
		left: 0; right: 0;
		
		border-radius: 6px;
		display: flex;
		height: var(--bar-height);
		background-color: var(--color-border-default);
		overflow: hidden;
	}
	.video-card > .score > .bar span {
		border-inline-end: 1px solid var(--color-canvas-default);
	}
	.video-card > .topics {
		grid-area: topic;
		color: var(--video-box-topic-color);
		 font-size: smaller;
		 text-align: right;
	}
	.video-card > .aka p,
	.video-card > .topics p {
		margin: 0;
		padding-left: 1em;
		 text-indent: -1em;
	}
	.video-card > .aka p.desc {
		color: var(--color-fg-default);
	}
	.video-card .title a:first-child {
		 margin-inline-end: 5px;
	}
	.video-card .note {
		 margin-inline: 4px;
	}
	.video-card > .thumbnail {
		grid-area: thumb;
		object-fit: cover;
		object-position: center;
		width: var(--thumb-width);
		height: var(--thumb-height);
	}
	@media (max-width: 600px) {
		:root {
			--thumb-width: 0;
			--thumb-height: 0;
		}
		.video-card > .thumbnail {
			display: none;
		}
	}
	
	.signature {
		font-size: smaller;
		color: grey;
		text-align: right;
	}
	
	i.wr-nick::before       { content: "N"; }
	i.wr-nick-james::before { content: "N"; vertical-align: super; }
	i.wr-james-nick::after  { content: "N"; vertical-align: sub; }
	i.wr-james::before      { content: "J"; }
	i.wr-nick-james::after  { content: "J"; vertical-align: sub; }
	i.wr-james-nick::before { content: "J"; vertical-align: super; }
	
	i.wr-nick, i.wr-james, i.wr-nick-james, i.wr-james-nick {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		display: var(--fa-display,inline-block);
		font-style: normal;
		font-variant: normal;
		line-height: 1;
		text-rendering: auto;
		font-weight: 900;
		font-family: serif;
	}
}
