@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--video-box-stolen-text: #ffdcd7;
		--video-box-stolen-bg: #850810;
		--video-box-fabricated-text: #f0eaf2;
		--video-box-fabricated-bg: #8705ae;
		--video-box-yikes-text: #feffd7;
		--video-box-yikes-bg: #4f6706;
	}
}
@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;
		--video-box-stolen-text: #82071e;
		--video-box-stolen-bg: #ffebe9;
		--video-box-fabricated-text: #8705ae;
		--video-box-fabricated-bg: #f0eaf2;
		--video-box-yikes-text: #4f6706;
		--video-box-yikes-bg: #feffd7;
	}
}


.video-card {
	max-width: 1000px;
	background-color: var(--color-canvas-subtle);
	margin: 6px;
	padding: 2px 8px;
	display: grid;
	box-shadow: 3px 3px 4px 0px black;
	grid: auto-flow / auto auto 1fr auto auto;
	grid-template-areas:
		"date  title title links"
		"stat  aka   topic topic"
		"score aka   topic topic";
}
.video-card > div {
	padding: 2px 6px;
}
.video-card > .title {
	grid-area: title;
}
.video-card > .vidlinks {
	grid-area: links;
}
.video-card > .date {
	grid-area: date;
	font-family: monospace;
	font-size: small;
	align-self: center;
}
.video-card > .status {
	grid-area: stat;
	text-align: center;
}
.status.alert { color: var(--color-danger-fg); }
.status.ready { color: var(--color-prettylights-syntax-markup-list); }
.status.complete { color: var(--color-prettylights-syntax-entity-tag); }
.video-card > .aka {
	grid-area: aka;
	color: grey;
	font-size: smaller;
}
.video-card > .score {
	grid-area: score;
	display: grid;
	grid: auto / 1fr 1fr 1fr;
	grid-template-areas:
		"plag fake yikes";
}
.video-card > .score > .plagiarized {
	grid-area: plag;
	text-align: center;
	background-color: var(--video-box-stolen-bg);
	color: var(--video-box-stolen-text);
}
.video-card > .score > .misinfo {
	grid-area: fake;
	text-align: center;
	background-color: var(--video-box-fabricated-bg);
	color: var(--video-box-fabricated-text);
}
.video-card > .score > .yikes {
	grid-area: yikes;
	text-align: center;
	background-color: var(--video-box-yikes-bg);
	color: var(--video-box-yikes-text);
}
.video-card > .topics {
	grid-area: topic;
	color: var(--color-prettylights-syntax-variable);
    font-size: smaller;
    text-align: right;
}
.video-card > .aka p,
.video-card > .topics p {
	margin: 0;
	padding-left: 1em;
    text-indent: -1em;
}
.video-card .title a:first-child {
    margin-inline-end: 5px;
}
.video-card .note {
    margin-inline: 4px;
}

.signature {
	font-size: smaller;
	color: grey;
	text-align: right;
}