.content > * {
	margin-inline: auto !important;
	width: fit-content;
}
.markdown-body blockquote {
	max-width: 46rem;
}

.instructions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    width: 100%;
}
.instructions p {
	margin-bottom: 0;
}

body:not(.pod) .video-card.podcast {
	display: none;
}
body:not(.new) .video-card.post-callout {
	display: none;
}
body:not(.old) .video-card.pre-callout {
	display: none;
}

.video-list {
    min-height: 60vh;
}