<!DOCTYPE html>
<html lang="en-US">
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ "/css/markdown-github.css" | relative_url }}" type="text/css" />
	{% assign vid = page.redirect.to | remove_first: site.github.url | remove_first: site.url -%}
	{% assign video = site.videos | where: 'url', vid | first -%}
	
	{%- capture ogdesc -%}
		{%- if video.aka -%}aka '{{ video.aka | first }}'{%- endif -%}
		{%- if video.aka and video.description -%}, {% endif -%}
		{%- if video.description -%}{{ video.description }}{%- endif -%}
	{%- endcapture -%}
	<meta name="description" content="{{ ogdesc | escape_once }}" />
	<meta property="og:title" content="{{ video.title | escape_once }} | Transcript" />
	<meta property="og:description" content="{{ ogdesc | escape_once }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ site.github.url }}{{ video.url }}" />
	<meta property="og:locale" content="en_US" />

	<title>Redirecting&hellip;</title>
	<link rel="canonical" href="{{ page.redirect.to }}">
	<script>location="{{ page.redirect.to }}"</script>
	<meta http-equiv="refresh" content="0; url={{ page.redirect.to }}">
	<meta name="robots" content="noindex">
	<h1>Redirecting&hellip;</h1>
	<a href="{{ page.redirect.to }}">Click here if you are not redirected.</a>
</html>