<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="{{ " /css/markdown-github.css" | relative_url }}" type="text/css" />
	<link rel="stylesheet" href="{{ " /css/video-index.css" | relative_url }}" type="text/css" />
	<link rel="stylesheet" href="{{ " /css/video-card.css" | relative_url }}" type="text/css" />

	<title>James Somerton Transcripts</title>
	<meta property="og:title" content="James Somerton Transcripts" />
	<meta property="og:description" content="An archive of transcripts for all of the James Somerton videos, with plagiarism highlighted." />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ "" | absolute_url }}" />
	<meta property="og:locale" content="en_US" />
</head>
<body>
	<div class="wrapper">
		<div class="markdown-body">
			<div class="content">
				{{ content }}
			</div>
		</div>
	</div>
</body>
</html>